
.menu-item {display:inline;}

#block-bones-main-menu {text-transform:uppercase;text-decoration:none;margin-top: 0.9em;margin-left: 2em; }
#block-bones-main-menu ul li a {border-bottom:none;color:#716c6c;font-size: 14px;}
#block-bones-main-menu ul li a:hover {color:#e54e4b;}
#block-bones-main-menu ul li a:active {color:#f644c8;}
#block-bones-main-menu ul li {margin-left:1em;}